APP_NAME=.CO API
APP_ENV=local
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://co_user:replace-me@your-rds-endpoint.ap-south-1.rds.amazonaws.com:5432/co_coconut
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_TIMEOUT=30
CORS_ORIGINS=http://localhost:3000
